{
  "version": 1,
  "disable_existing_loggers": "true",
  "formatters": {
    "simple": {
      "format": "%(asctime)s.%(msecs)03dZ THREAD|%(thread)d %(module)s.%(funcName)s():%(lineno)d %(levelname)s # %(message)s",
      "datefmt": "%Y-%m-%dT%H:%M:%S"
    }
  },
  "handlers": {
    "console": {
      "class": "logging.StreamHandler",
      "formatter": "simple",
      "stream": "ext://sys.stdout"
    },
    "file": {
      "class": "logging.handlers.RotatingFileHandler",
      "formatter": "simple",
      "filename": "/logs/tasa.log",
      "maxBytes": 5000000,
      "backupCount": 10,
      "encoding": "utf8"
    },
    "access_log": {
      "class": "logging.handlers.RotatingFileHandler",
      "formatter": "simple",
      "filename": "/logs/access.log",
      "maxBytes": 1000000,
      "backupCount": 3,
      "encoding": "utf8"
    },
    "wsgi_log": {
      "class": "logging.handlers.RotatingFileHandler",
      "formatter": "simple",
      "filename": "/logs/wsgi.log",
      "maxBytes": 1000000,
      "backupCount": 3,
      "encoding": "utf8"
    }
  },
  "loggers": {
    "app": {
      "handlers": ["console", "file"],
      "level": "DEBUG",
      "propagate": "true"
    },
    "uvicorn": {
      "handlers": ["console", "file"],
      "level": "WARNING",
      "propagate": "false"
    },
    "uvicorn.error": {
      "handlers": ["console", "file"],
      "level": "WARNING",
      "propagate": "false"
    },
    "uvicorn.access": {
      "handlers": ["access_log"],
      "level": "WARNING",
      "propagate": "false"
    },
    "uvicorn.asgi": {
      "handlers": ["access_log"],
      "level": "WARNING",
      "propagate": "false"
    }
  }
}
